<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #e6f7ff;
            color: #333;
        }

        .blog-title {
            color: #006d77;
        }

        .blog-date {
            font-size: 0.9em;
            color: #666;
        }

        .blog-post {
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 10px;
            margin-bottom: 20px;
            background-color: #ffffff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>

<body>
    <div class="container my-5">
        <div class="text-center">
            <h1 class="blog-title display-4">MY BLOG!!!!</h1>
            <p class="lead">Welcome to <b>My BLOG</b></p>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-8">
                {% for blog in blogs %}
                <div class="blog-post my-4">
                    <h2 class="text-primary">{{ blog.title }}</h2>
                    <p class="blog-date">Published on: {{ blog.date }}</p>
                    <p>{{ blog.description }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>